@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@600;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Livvic", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 16px;
  overflow-x: hidden;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.container {
  background-color: rgb(1, 78, 86);
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  width: 1110px;
  display: flex;
  padding: 30px;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 150px;
}
.header__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: -500px;
}
.header__list--item {
  font-family: Livvic;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.header__link {
  text-decoration: none;
  color: white;
  margin-left: 50px;
}
.header__link:active {
  color: rgb(246, 126, 126);
}
.header__btn {
  width: 153px;
  height: 48px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 25px;
  text-align: center;
  padding: 6px;
}
.header__btn:active {
  background-color: rgb(255, 255, 255);
}
.header__btn--link {
  text-decoration: none;
  color: white;
  font-family: Livvic;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
}
.header__btn--link:active {
  color: rgb(0, 37, 41);
}
.header .burger {
  display: none;
}

@media only screen and (max-width: 768px) {
  .header {
    max-width: 689px;
    margin-left: 15px;
  }
  .header__list {
    margin-left: -150px;
  }
  .header__link {
    margin-left: 30px;
  }
  .header .burger {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  .header {
    max-width: 327px;
    margin-left: 0px;
  }
  .header__list {
    display: none;
  }
  .header__btn {
    display: none;
  }
  .header .burger {
    display: block;
  }
}
.hero {
  width: 1110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 170px;
  padding-top: 50px;
  padding-bottom: 200px;
}
.hero__head {
  width: 535px;
  font-family: Livvic;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0px;
  text-align: left;
}
.hero .span {
  color: rgb(246, 126, 126);
}
.hero--bg {
  width: 200px;
  height: 200px;
  background-image: url("/images/hero__bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: auto;
  background-position: left;
  transform: translateX(-190px);
  margin-top: -250px;
}
.hero__right {
  width: 445px;
  height: 195px;
}
.hero__bg {
  margin-top: 45px;
  margin-left: 70px;
  width: 358px;
  height: 200px;
  background-image: url("/images/disk-bottom.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: auto;
  background-position: bottom;
}
.hero__hr {
  border: none;
  margin-left: -1px;
  margin-bottom: 70px;
  width: 50px;
  height: 5px;
  background-color: rgb(121, 200, 199);
}
.hero__text {
  width: 445px;
  font-family: Livvic;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .hero {
    width: 683px;
    height: 520px;
    display: inline;
  }
  .hero__head {
    margin: 0 auto;
    width: 383px;
    font-family: "Livvic";
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 20px;
  }
  .hero--bg {
    display: none;
  }
  .hero__hr {
    display: none;
  }
  .hero__text {
    margin-left: 140px;
    width: 457px;
    font-family: Livvic;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
  }
  .hero__bg {
    margin-top: -45px;
    margin-left: 190px;
    width: 358px;
    height: 156px;
    background-position: bottom center;
  }
}
@media only screen and (max-width: 375px) {
  .hero {
    width: 327px;
    display: inline;
    margin-bottom: 100px;
  }
  .hero__head {
    margin: 0 auto;
    width: 283px;
    font-family: Livvic;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
  }
  .hero--bg {
    display: none;
  }
  .hero__right {
    width: 327px;
  }
  .hero__hr {
    display: none;
  }
  .hero__text {
    margin-left: 0px;
    width: 327px;
    font-family: Livvic;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
  }
  .hero__bg {
    margin-top: -45px;
    margin-left: -10px;
    width: 358px;
    height: 128px;
    background-position: bottom center;
  }
}
.content {
  width: 1480px;
  height: 684px;
  transform: translateY(-8px);
  background-color: rgb(1, 47, 52);
  margin: 0 auto;
  padding: 0 20px;
}
.content__wrapp {
  width: 1110px;
  height: 404px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 300px;
  padding-left: 200px;
}
.content__left {
  margin-right: 50px;
}
.content__hr {
  border: none;
  margin-left: -1px;
  margin-bottom: 70px;
  width: 50px;
  height: 5px;
  background-color: rgb(246, 126, 126);
}
.content__head {
  width: 445px;
  font-family: Livvic;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}
.content__right {
  width: 540px;
  height: 346px;
}
.content__item {
  width: 540px;
  height: 94px;
  margin-bottom: 30px;
  display: flex;
}
.content .item__left {
  margin-right: 40px;
}
.content .item__img {
  margin-top: 20px;
}
.content .item__right {
  width: 445px;
  height: 94px;
}
.content .item__head {
  font-family: Livvic;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(246, 126, 126);
}
.content .item__text {
  width: 445px;
  font-family: Livvic;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
}
.content__bg {
  width: 200px;
  height: 244px;
  background-image: url("/images/content__bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: auto;
  background-position: right;
  margin-left: 1260px;
  margin-top: 35px;
}

@media only screen and (max-width: 768px) {
  .content {
    width: 768px;
    height: 710px;
  }
  .content__wrapp {
    width: 563px;
    height: 510px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: block;
    padding-top: 90px;
    padding-left: 70px;
  }
  .content__hr {
    margin-bottom: 10px;
  }
  .content__head {
    width: 445px;
    font-family: Livvic;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
  }
  .content__item {
    width: 573px;
    height: 94px;
    margin-bottom: 30px;
    display: flex;
  }
  .content .item__right {
    width: 478px;
    height: 94px;
  }
  .content .item__head {
    width: 478px;
  }
  .content .item__text {
    width: 478px;
  }
  .content__bg {
    background-position: right;
    margin-left: 548px;
    margin-top: -510px;
  }
}
@media only screen and (max-width: 375px) {
  .content {
    width: 375px;
    height: 1233px;
    transform: translateY(-8px);
  }
  .content__wrapp {
    width: 327px;
    padding-top: 90px;
    padding-left: 0px;
  }
  .content__head {
    width: 240px;
  }
  .content__right {
    width: 327px;
  }
  .content__list {
    display: block;
    width: 327px;
  }
  .content__item {
    width: 327px;
    height: 199px;
    margin-bottom: 70px;
    display: block;
  }
  .content .item__left {
    margin-right: 0;
    text-align: center;
  }
  .content .item__right {
    width: 327px;
  }
  .content .item__head {
    width: 327px;
    font-family: Livvic;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
  }
  .content .item__text {
    width: 327px;
    font-family: Livvic;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
  }
  .content__bg {
    background-position: right;
    margin-left: 155px;
    margin-top: -510px;
  }
}
.pending {
  max-width: 1480px;
  height: 745px;
  margin: 0 auto;
  padding: 0 20px;
  transform: translateY(-72px);
}
.pending__bg--top {
  width: 147px;
  margin-left: -20px;
  height: 100px;
  background-image: url("/images/pending__bg--top.svg");
}
.pending__wrapp {
  padding-left: 150px;
  padding-top: 10px;
  width: 1110px;
  height: 465px;
}
.pending__head {
  margin-left: 100px;
  width: 932px;
  font-family: "Livvic";
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
}
.pending__span {
  color: rgb(121, 200, 199);
}
.pending__list {
  display: flex;
}
.pending__item {
  display: block;
  text-align: center;
  margin-left: 30px;
  background-image: url("/images/quote.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: auto;
  background-position: top;
}
.pending__text {
  transform: translateY(40px);
  width: 350px;
  padding-bottom: 40px;
  font-family: "Livvic";
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
}
.pending__item--head {
  margin-bottom: 5px;
  font-family: Livvic;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(121, 200, 199);
}
.pending__adress {
  width: 350px;
  margin-top: 0;
  font-family: "Livvic";
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
}
.pending__item--img {
  margin-top: 20px;
}
.pending__bg--bottom {
  width: 200px;
  height: 200px;
  background-image: url("/images/pending__bg--bottom.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: auto;
  margin-left: 1260px;
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  .pending {
    width: 768px;
    height: 1259px;
  }
  .pending__wrapp {
    width: 573px;
    height: 999px;
    padding-left: 35px;
    padding-top: 10px;
  }
  .pending__head {
    margin-left: 0;
    padding-left: 80px;
    margin-top: -9px;
    width: 530px;
    font-family: Livvic;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
  }
  .pending__list {
    display: block;
    width: 573px;
  }
  .pending__item {
    width: 573px;
    margin-left: 30px;
  }
  .pending__text {
    margin-top: 35px;
    width: 573px;
  }
  .pending__item--head {
    margin-bottom: 5px;
  }
  .pending__adress {
    margin-top: 0;
  }
  .pending__item--img {
    margin-top: 20px;
  }
  .pending__bg--bottom {
    margin-left: 548px;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 375px) {
  .pending {
    width: 375px;
    height: 1410px;
  }
  .pending__wrapp {
    width: 327px;
    height: 1106px;
    padding-left: 0px;
    padding-top: 10px;
  }
  .pending__head {
    margin-top: 10px;
    width: 327px;
    padding-left: 0;
  }
  .pending__list {
    display: block;
    width: 327px;
    height: 950px;
  }
  .pending__item {
    width: 327px;
    margin-left: 0px;
    background-position: top;
  }
  .pending__text {
    margin-top: 35px;
    width: 327px;
    font-family: Livvic;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
  }
  .pending__item--head {
    margin-bottom: 5px;
    width: 327px;
    font-family: Livvic;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
  }
  .pending__adress {
    width: 327px;
    font-family: Livvic;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
  }
  .pending__bg--bottom {
    margin-left: 155px;
    margin-top: 54px;
  }
}
.widget {
  width: 1480px;
  height: 200px;
  background-color: rgb(246, 126, 126);
  transform: translateY(-73px);
  background-image: url("/images/widget.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: auto;
  background-position: left bottom;
}
.widget__wrapp {
  display: flex;
  width: 917px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 250px;
}
.widget__head {
  width: 504px;
  font-family: Livvic;
  font-size: 48px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(1, 47, 52);
}
.widget__btn {
  width: 153px;
  height: 48px;
  border: 2px solid rgb(1, 47, 52);
  border-radius: 25px;
  text-align: center;
  padding: 6px;
}
.widget__btn:active {
  background-color: rgb(0, 37, 41);
}
.widget__btn--link {
  text-decoration: none;
  color: white;
  font-family: Livvic;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  color: rgb(1, 47, 52);
}
.widget__btn--link:active {
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 768px) {
  .widget {
    width: 768px;
    height: 200px;
    background-image: url("/images/widget__bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: auto;
    background-position: left bottom;
  }
  .widget__wrapp {
    transform: translateY(30px);
    width: 619px;
    margin-left: 0;
    text-align: center;
    margin: 0 auto;
  }
  .widget__head {
    width: 336px;
    font-family: Livvic;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
  }
}
@media only screen and (max-width: 375px) {
  .widget {
    width: 375px;
    height: 302px;
    background-image: url("/images/widget3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: auto;
    background-position: left bottom;
    transform: translateY(-130px);
  }
  .widget__wrapp {
    transform: translateY(70px);
    width: 327px;
    margin-left: 0;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .widget__head {
    width: 327px;
    text-align: center;
    margin-bottom: 30px;
  }
  .widget__btn {
    margin: 0 auto;
  }
}
.footer {
  width: 1480px;
  height: 196px;
  background-color: rgb(0, 37, 41);
  transform: translateY(-75px);
}
.footer__wrapp {
  display: flex;
  width: 1110px;
  height: 100px;
  padding-left: 200px;
  padding-top: 50px;
}
.footer__left {
  width: 730px;
  height: 100px;
  margin-right: 100px;
}
.footer__logo {
  margin-bottom: 30px;
}
.footer__list {
  display: flex;
}
.footer__item {
  display: block;
  margin-right: 90px;
}
.footer .items {
  display: flex;
}
.footer .item {
  font-family: Livvic;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  margin-right: 20px;
}
.footer__link {
  text-decoration: none;
  color: white;
}
.footer__link:active {
  color: rgb(246, 126, 126);
}
.footer__items {
  height: 100px;
  width: 445px;
}
.footer .items__item {
  font-family: Livvic;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.6;
}
.footer__right {
  display: block;
}
.footer__images {
  display: flex;
  width: 104px;
  margin-left: 120px;
  margin-bottom: 50px;
}
.footer__img {
  margin-left: 20px;
}
.footer__img:active {
  background-color: rgb(246, 126, 126);
}
.footer__right--text {
  width: 255px;
  opacity: 0.6;
  font-family: Livvic;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .footer {
    width: 768px;
    height: 271px;
  }
  .footer__wrapp {
    width: 668px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 50px;
    display: block;
  }
  .footer__list {
    width: 689px;
  }
  .footer__left {
    width: 689px;
    height: 102px;
    display: flex;
  }
  .footer .items {
    width: 280px;
    font-family: Livvic;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: right;
  }
  .footer__logo {
    width: 96px;
    height: 24px;
  }
  .footer .item {
    font-family: Livvic;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
  }
  .footer .items__item {
    margin-left: 100px;
    font-family: Livvic;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 0.6;
  }
  .footer__items {
    height: 100px;
    width: 327px;
  }
  .footer__right {
    margin-top: 30px;
    width: 689px;
    height: 25px;
    display: flex;
  }
  .footer__images {
    display: flex;
    width: 104px;
    margin-left: -10px;
    margin-bottom: 50px;
    margin-right: 300px;
  }
}
@media only screen and (max-width: 375px) {
  .footer {
    width: 375px;
    height: 432px;
    transform: translateY(-130px);
  }
  .footer__wrapp {
    width: 327px;
    height: 302px;
    padding-left: 10px;
  }
  .footer__left {
    display: block;
    width: 327px;
  }
  .footer__list {
    text-align: center;
    display: block;
    width: 327px;
  }
  .footer__item {
    margin-right: 0;
    text-align: center;
    width: 300px;
  }
  .footer .items {
    padding-left: 80px;
    text-align: center;
  }
  .footer .item {
    margin-right: 0;
  }
  .footer__link {
    margin-left: 20px;
  }
  .footer__items {
    width: 200px;
    margin-left: 60px;
    margin-top: 20px;
  }
  .footer .items__item {
    text-align: center;
    margin-left: 0;
    width: 200px;
  }
  .footer__right {
    transform: translateX(30px);
    margin-top: 130px;
    display: block;
    width: 300px;
  }
  .footer__images {
    transform: translateX(70px);
    margin-bottom: 20px;
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

ul,
ol,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */