@import "../colors/colors";

.pending {
  max-width: 1480px;
  height: 745px;
  margin: 0 auto;
  padding: 0 20px;
  transform: translateY(-72px);

  &__bg--top {
    width: 147px;
    margin-left: -20px;
    height: 100px;
    background-image: url("/images/pending__bg--top.svg");
  }

  &__wrapp {
    padding-left: 150px;
    padding-top: 10px;
    width: 1110px;
    height: 465px;
  }

  &__head {
    margin-left: 100px;
    width: 932px;
    font-family: "Livvic";
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
  }

  &__span {
    color: $blueColor;
  }

  &__list {
    display: flex;
  }

  &__item {
    display: block;
    text-align: center;
    margin-left: 30px;
    background-image: url("/images/quote.svg");
    @include background();
    background-size: auto;
    background-position: top;
  }

  &__text {
    transform: translateY(40px);
    width: 350px;
    padding-bottom: 40px;
    font-family: "Livvic";
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
  }

  &__item--head {
    margin-bottom: 5px;
    font-family: Livvic;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: $blueColor;
  }

  &__adress {
    width: 350px;
    margin-top: 0;
    font-family: "Livvic";
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
  }

  &__item--img {
    margin-top: 20px;
  }

  &__bg--bottom {
    width: 200px;
    height: 200px;
    background-image: url("/images/pending__bg--bottom.svg");
    @include background();
    background-size: auto;
    margin-left: 1260px;
    margin-top: 30px;
  }
}

// TABLET

@media only screen and (max-width: 768px) {
  .pending {
    width: 768px;
    height: 1259px;

    &__wrapp {
      width: 573px;
      height: 999px;
      padding-left: 35px;
      padding-top: 10px;
    }

    &__head {
      margin-left: 0;
      padding-left: 80px;
      margin-top: -9px;
      width: 530px;
      font-family: Livvic;
      font-size: 32px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: 0px;
      text-align: center;
    }

    &__list {
      display: block;
      width: 573px;
    }

    &__item {
      width: 573px;
      margin-left: 30px;
    }

    &__text {
      margin-top: 35px;
      width: 573px;
    }

    &__item--head {
      margin-bottom: 5px;
    }

    &__adress {
      margin-top: 0;
    }

    &__item--img {
      margin-top: 20px;
    }

    &__bg--bottom {
      margin-left: 548px;
      margin-top: 10px;
    }
  }
}

// MOBILE

@media only screen and (max-width: 375px) {
  .pending {
    width: 375px;
    height: 1410px;

    &__wrapp {
      width: 327px;
      height: 1106px;
      padding-left: 0px;
      padding-top: 10px;
    }

    &__head {
      margin-top: 10px;
      width: 327px;
      padding-left: 0;
    }

    &__list {
      display: block;
      width: 327px;
      height: 950px;
    }

    &__item {
      width: 327px;
      margin-left: 0px;
      background-position: top;
    }

    &__text {
      margin-top: 35px;
      width: 327px;
      font-family: Livvic;
      font-size: 15px;
      font-weight: 600;
      line-height: 25px;
      letter-spacing: 0px;
      text-align: center;
    }

    &__item--head {
      margin-bottom: 5px;
      width: 327px;
      font-family: Livvic;
      font-size: 18px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0px;
      text-align: center;
    }

    &__adress {
      width: 327px;
      font-family: Livvic;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0px;
      text-align: center;
    }

    &__bg--bottom {
      margin-left: 155px;
      margin-top: 54px;
    }
  }
}
